/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #ddd;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

button{
  background: none;
  border: solid 1px #ddd;
  font-size: medium;
  padding: 5% 10%;
  color: #ddd;
  font-family: century-gothic;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0.5em;
  margin: 0 -10%;
  text-align: center;
}
button:hover{
  font-weight: bold;
  color: #191919;
  background-color: aqua;
  border-color: aqua;
  cursor: pointer;
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h1 {
  text-align: center;
  font-family: century-gothic;
}

body{ 
  background-color: #191919;
  color: #ddd;
}

legend{
  color: #fff;
}

.avatar{
  width: 7em;
  height: 7em;
  border-radius: 0.5em;
}
input[type=file]{
  background-color: none;
  color: #ddd;
  border: solid 1px #ddd;
  border-radius: 1em;
}
input[type=text]{
  background-color: transparent;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  color: #bbb;
}
button[type=submit]{
  background-color: transparent;
  border: solid 1px #ddd;
  border-radius: 0.5em;

}
button[type=submit]:hover{
  background-color: aqua;
  border: none;
  cursor: grab;
}
form{
  background-color: transparent;
  border: solid 1px #ddd;
}
.profileBlock{
  margin: 4% 20% 0;
  gap: 0.5em;
  padding: 2em 3em;
  align-items: center;
  border-radius: 1em;
  border: solid 2px #ddd;
  display: flex;
}

.heading {
  color: #ddd;
  font-family: century-gothic;
  letter-spacing: 1px;
  font-size: 25px;
  border: none;
  padding: 0;
  margin-bottom: 0.5em;
}