/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #ddd;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

button{
  background: none;
  border: solid 1px #ddd;
  font-size: medium;
  padding: 5% 10%;
  color: #ddd;
  font-family: century-gothic;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0.5em;
  margin: 0 -10%;
  text-align: center;
}
button:hover{
  color: #191919;
  background-color: aqua;
  border-color: aqua;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h1 {
  text-align: center;
  font-family: century-gothic;
}

body{ 
  background-color: #191919;
  color: #ddd;
}

legend{
  color: #fff;
}

.avatar{
  width: 7em;
  height: 7em;
  border-radius: 0.5em;
}
input[type=file]{
  background-color: none;
  color: #ddd;
  border: solid 1px #ddd;
  border-radius: 1em;
}
input[type=text]{
  background-color: transparent;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  color: #bbb;
}
button[type=submit]{
  background-color: transparent;
  border: solid 1px #ddd;
  border-radius: 0.5em;
  font-family: century-gothic;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button[type=submit]:hover{
  background-color: aqua;
  border: none;
  cursor: grab;
}
form{
  background-color: transparent;
  border: solid 1px #ddd;
}
.profileBlock{
  margin: 4% 20% 0;
  gap: 0.5em;
  padding: 2em 3em;
  align-items: center;
  border-radius: 1em;
  border: solid 2px #ddd;
  display: flex;
}

.heading {
  color: #ddd;
  font-family: century-gothic;
  letter-spacing: 1px;
  font-size: 25px;
  border: none;
  padding: 0;
  margin-bottom: 0.5em;
}
.postBlock{
  border-radius: 1em;
  border: solid 2px #ddd;
  margin: 5% 20%;
  padding: 3% 5%;
}
.caption{
  margin: 5em 0;
  font-family: century-gothic;
  font-size: 25px;
}
.routerLink{
  text-decoration: none;
  font-family: century-gothic;
  font-size: 25px;
  color: #ddd;
}
.routerLink:hover{
  color: aqua;
}
.tag{
  background-color: #bbb;
  color: #555;
  padding: 2px 5px;
  border-radius: 0.5em;
  margin: 0 5px;
  text-decoration: none;
}
.tag:hover{
  background-color: aqua;
  /* cursor: URL("../../assets/images/xcursor.svg"), auto; */
}
.postColumns{
  margin: 5% 20%;
  column-count: 3;
  column-gap: 2em;
  flex-wrap: nowrap;
}
.listPost{
  border: solid 2px #ddd;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}
.imageList{
  width: 100%;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
.listAvatar{
  width: 4em;
  height: 4em;
  border-radius: 0.5em;
  display: inline-block;
}
.listAuthor{
  font-family: century-gothic;
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
}
.listAuthor:hover{
  color: aqua;
}
.postListText{
  vertical-align: middle;
  margin-top: 0.8em;
  margin-left: 1em;
}
.loadingText{
  font-family: century-gothic;
  margin: 5% 20%;
  font-size: 25px;
}