/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #ddd;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

button{
  background: none;
  border: solid 1px #ddd;
  font-size: medium;
  padding: 5% 10%;
  color: #ddd;
  font-family: century-gothic;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-radius: 0.5em;
  margin: 0 -10%;
  text-align: center;
}
button:hover{
  font-weight: bold;
  color: #191919;
  background-color: aqua;
  border-color: aqua;
}


a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h1 {
  text-align: center;
  font-family: century-gothic;
}

body{ 
  background-color: #191919;
  color: #ddd;
}

legend{
  color: #fff;
}

.avatar{
  width: 7em;
  height: 7em;
}